#wesh .morray {
  display: block;
}

html {
  scroll-behavior: smooth;
}

/* VARIABLES */
/* ANIMATION */
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1000ms;
}

/* LOADING */
.loading {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loading img {
  height: 120px;
  width: 120px;
}
.loading p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #BBBBBB;
}
.loading .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #171E49;
  border-color: #171E49 transparent #171E49 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #171E49;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* GENERAL */
.container {
  max-width: 1400px;
  width: 100%;
}

button.btn {
  cursor: pointer;
  background-color: #4270ED;
  color: #FFFFFF;
  border: 0;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  width: fit-content;
  box-shadow: 2px 2px 5px #00000022;
}
button.btn:hover {
  transition: box-shadow 300ms ease;
  box-shadow: 3px 3px 10px #00000022;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

/* END GENERAL */
.App {
  background-color: #ffffff;
  color: #171E49;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
  min-height: 100vh;
}
.App header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  background-color: #FFFFFF;
}
.App header .container {
  display: flex;
  justify-content: space-between;
}
.App header .container .logo {
  width: 20%;
}
.App header .container .logo img {
  height: 50px;
  width: auto;
  justify-content: flex-start;
}
.App header .container .logo #burger {
  display: none;
}
.App header .container .nav {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.App header .container .nav a {
  vertical-align: bottom;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: #171E49;
}
.App header .container div.my-account {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.App .layout {
  min-height: 100vh;
}
.App .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 0;
}
.App .hero .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .hero .container .mouse {
  margin: 50px 0;
  width: 50px;
  height: 90px;
  border: 3px solid #171E49;
  border-radius: 60px;
  position: relative;
}
.App .hero .container .mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #171E49;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
.App .hero .container > div {
  width: 50%;
}
.App .hero .container > div.txt-content {
  color: #171E49;
}
.App .hero .container > div.txt-content .title {
  font-size: 48px;
  margin-top: 90px;
}
.App .hero .container > div.txt-content .description {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.App .hero .container > div.txt-content .description p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
.App .hero .container > div.txt-content .description strong {
  font-weight: 600;
}
.App .hero .container > div.txt-content .description em {
  font-weight: 400;
}
.App .hero .container > div.image {
  display: flex;
  justify-content: flex-end;
}
.App .hero .container > div.image img {
  justify-self: flex-end;
  max-height: 600px;
  width: auto;
}
.App .expertises {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.App .expertises .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App .expertises .container p {
  margin: 0;
}
.App .expertises .container > .title {
  text-align: center;
  font-size: 42px;
}
.App .expertises .container > .description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  width: 65%;
}
.App .expertises .container .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
}
.App .expertises .container .cards .card {
  border: 1px solid #EEE;
  border-radius: 30px;
  padding: 30px 15px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.App .expertises .container .cards .card:last-of-type {
  margin-right: 0;
}
.App .expertises .container .cards .card .icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #00000022;
}
.App .expertises .container .cards .card .icon img {
  height: 30px;
  width: auto;
}
.App .expertises .container .cards .card .title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.App .expertises .container .cards .card .description {
  font-size: 20px;
  font-weight: 400;
}
.App .services {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.App .services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App .services .container .service {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .services .container .service:nth-of-type(2n) div:first-of-type {
  order: 2;
}
.App .services .container .service:nth-of-type(2n) div:last-of-type {
  order: 1;
}
.App .services .container .service .image {
  width: 30%;
  display: flex;
  justify-content: center;
}
.App .services .container .service .image img {
  max-height: 500px;
  width: 100%;
}
.App .services .container .service .txt-content {
  width: 50%;
  margin-top: 5%;
  padding: 0 30px;
}
.App .services .container .service .txt-content .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.App .services .container .service .txt-content .description {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.App .prestations {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.App .prestations .container {
  display: flex;
  flex-direction: row;
}
.App .prestations .container .image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.App .prestations .container .image img {
  max-height: 600px;
}
.App .prestations .container .txt-content {
  width: 50%;
  margin-top: 90px;
}
.App .prestations .container .txt-content > .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.App .prestations .container .txt-content > .description {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.App .prestations .container .txt-content > .description p {
  margin: 0;
}
.App .prestations .container .txt-content .prestas {
  display: flex;
  flex-direction: column;
}
.App .prestations .container .txt-content .prestas .presta {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.App .prestations .container .txt-content .prestas .presta .icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #00000022;
}
.App .prestations .container .txt-content .prestas .presta .icon img {
  height: 30px;
  width: auto;
}
.App .prestations .container .txt-content .prestas .presta .txt {
  width: 70%;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.App .prestations .container .txt-content .prestas .presta .txt .title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.App .prestations .container .txt-content .prestas .presta .txt .description {
  font-size: 20px;
}
.App .newsletter {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.App .newsletter .container {
  padding: 50px 0;
  border: 1px solid #eee;
  border-radius: 30px;
  width: 80%;
}
.App .newsletter .container .title {
  text-align: center;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 20px;
}
.App .newsletter .container .description {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
.App .newsletter .container .description p {
  margin: 0;
}
.App .newsletter .container .newsletter-form {
  display: flex;
  justify-content: center;
}
.App .newsletter .container .newsletter-form > div {
  width: 100%;
}
.App .newsletter .container .newsletter-form form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.App .newsletter .container .newsletter-form form .error-message {
  color: red;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.App .newsletter .container .newsletter-form form input {
  transform: translateX(20px);
  width: 500px;
  padding: 15px 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  color: #666;
}
.App .newsletter .container .newsletter-form form input::placeholder {
  color: #AAA;
}
.App .newsletter .container .newsletter-form form input:focus {
  outline: none;
}
.App .newsletter .container .newsletter-form form .btn {
  transform: translateX(-20px);
  max-height: 50px;
}
.App footer.footer {
  background: linear-gradient(0.1turn, #4270ED33, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.App footer.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App footer.footer .container .logo {
  max-width: 200px;
}
.App footer.footer .container .logo img {
  width: 150px;
}
.App footer.footer .container .column .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.App footer.footer .container .column ul {
  list-style: none;
  padding-left: 0;
}
.App footer.footer .container .column ul li {
  font-size: 16px;
  margin-bottom: 15px;
}
.App footer.footer .container .column ul li a {
  text-decoration: none;
  padding-bottom: 5px;
  color: #171E49;
}
.App footer.footer .container .column ul li a::before {
  height: 2px;
}
.App footer.footer .container .contact-form {
  width: 35%;
}
.App footer.footer .container .contact-form form .error-message {
  color: red;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.App footer.footer .container .contact-form form .inputs {
  width: 100%;
  margin-bottom: 15px;
}
.App footer.footer .container .contact-form form input, .App footer.footer .container .contact-form form textarea {
  background-color: transparent;
  border: 1px solid #666;
  border-radius: 30px;
  padding: 5px 10px 5px 15px;
  color: #171E49;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.App footer.footer .container .contact-form form input::placeholder, .App footer.footer .container .contact-form form textarea::placeholder {
  font-size: 14px;
}
.App footer.footer .container .contact-form form input:focus, .App footer.footer .container .contact-form form textarea:focus {
  outline: none;
}
.App footer.footer .container .contact-form form .sujet {
  width: 100%;
  margin-bottom: 15px;
}
.App footer.footer .container .contact-form form .sujet > div {
  width: 100%;
}
.App footer.footer .container .contact-form form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App footer.footer .container .contact-form form > div.textarea {
  flex-direction: column;
  margin-bottom: 15px;
}
.App footer.footer .container .contact-form form > div.textarea textarea {
  border-radius: 20px;
  padding-top: 15px;
  height: 80px;
}
.App footer.footer .container .contact-form form > div > div {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
}
.App footer.footer .container .contact-form form .btn {
  width: 100%;
}
.App footer.footer .container:last-of-type {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App footer.footer .container:last-of-type .reseaux-sociaux {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.App footer.footer .container:last-of-type .reseaux-sociaux a img {
  height: 20px;
  width: auto;
  filter: invert(1);
}
.App .proprietaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .proprietaires .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .proprietaires .container > .title {
  font-size: 42px;
  text-align: center;
}
.App .proprietaires .container > .description {
  font-size: 18px;
  text-align: center;
  width: 66%;
}
.App .proprietaires .container .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .proprietaires .container .sections .section {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .proprietaires .container .sections .section:nth-of-type(2n) div:first-of-type {
  order: 2;
}
.App .proprietaires .container .sections .section:nth-of-type(2n) div:last-of-type {
  order: 1;
}
.App .proprietaires .container .sections .section .image {
  width: 30%;
  display: flex;
  justify-content: center;
}
.App .proprietaires .container .sections .section .image img {
  max-height: 500px;
  width: 100%;
}
.App .proprietaires .container .sections .section .txt-content {
  width: 50%;
  margin-top: 3%;
  padding: 0 30px;
}
.App .proprietaires .container .sections .section .txt-content .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.App .proprietaires .container .sections .section .txt-content .description {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.App .proprietaires .container .garanties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .proprietaires .container .garanties .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0px;
}
.App .proprietaires .container .garanties .description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  width: 66%;
}
.App .proprietaires .container .garanties .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 66%;
}
.App .proprietaires .container .garanties .logos .logo {
  max-height: 120px;
  height: auto;
  display: flex;
  justify-content: center;
  width: 200px;
}
.App .proprietaires .container .garanties .logos .logo img {
  max-height: 100%;
  width: auto;
}
.App .locataires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .locataires .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .locataires .container > .title {
  font-size: 42px;
  text-align: center;
}
.App .locataires .container > .description {
  font-size: 18px;
  text-align: center;
  width: 66%;
}
.App .locataires .container > .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .locataires .container > .sections .section {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .locataires .container > .sections .section:nth-of-type(2n) div:first-of-type {
  order: 2;
}
.App .locataires .container > .sections .section:nth-of-type(2n) div:last-of-type {
  order: 1;
}
.App .locataires .container > .sections .section .image {
  width: 30%;
  display: flex;
  justify-content: center;
}
.App .locataires .container > .sections .section .image img {
  max-height: 500px;
  width: 100%;
}
.App .locataires .container > .sections .section .txt-content {
  width: 50%;
  margin-top: 3%;
  padding: 0 30px;
}
.App .locataires .container > .sections .section .txt-content .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.App .locataires .container > .sections .section .txt-content .description {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.App .locataires .container .choose-us {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.App .locataires .container .choose-us .container {
  display: flex;
  flex-direction: row;
}
.App .locataires .container .choose-us .container .image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.App .locataires .container .choose-us .container .image img {
  max-height: 600px;
}
.App .locataires .container .choose-us .container .text-content {
  width: 50%;
  margin-top: 90px;
}
.App .locataires .container .choose-us .container .text-content > .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.App .locataires .container .choose-us .container .text-content > .description {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.App .locataires .container .choose-us .container .text-content > .description p {
  margin: 0;
}
.App .locataires .container .choose-us .container .text-content .sections {
  display: flex;
  flex-direction: column;
}
.App .locataires .container .choose-us .container .text-content .sections .section {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.App .locataires .container .choose-us .container .text-content .sections .section .icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #00000022;
}
.App .locataires .container .choose-us .container .text-content .sections .section .icon img {
  height: 30px;
  width: auto;
}
.App .locataires .container .choose-us .container .text-content .sections .section .txt-content {
  width: 70%;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.App .locataires .container .choose-us .container .text-content .sections .section .txt-content .title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.App .locataires .container .choose-us .container .text-content .sections .section .txt-content .description {
  font-size: 20px;
}
.App .about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .about-us .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .about-us .container > .title {
  font-size: 42px;
  text-align: center;
}
.App .about-us .container > .text-content .paragraphe {
  font-size: 18px;
}
.App .about-us .container .image {
  width: 100%;
}
.App .about-us .container .image img {
  width: 100%;
}
.App .about-us .container .infos {
  margin-top: 90px;
}
.App .about-us .container .infos .title {
  text-align: center;
}
.App .about-us .container .infos .contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}
.App .blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .blog .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .blog .container > .title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 0;
}
.App .blog .container > .description {
  font-size: 18px;
  text-align: center;
  width: 66%;
  margin-bottom: 90px;
}
.App .blog .container .cards {
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
}
.App .blog .container .cards .card {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 30px;
  overflow: hidden;
}
.App .blog .container .cards .card .card-thumbnail img {
  width: 100%;
}
.App .blog .container .cards .card .card-txt {
  padding: 15px 15px 30px;
}
.App .blog .container .cards .card .card-txt .link {
  color: #171E49;
}
.App .post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .post .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.App .post .container > .title {
  font-size: 42px;
  margin-bottom: 50px;
}
.App .post .container .content {
  padding-right: 90px;
}
.App .post .container .content #titre {
  margin-top: 50px;
}
.App .post .container .content p {
  font-weight: 300;
}
.App .post .container .content p em {
  font-weight: 500;
}
.App .post .container .content p strong {
  font-weight: 600;
}
.App .post .container .content p img {
  width: 66%;
}
.App .post .container .post-date {
  text-align: right;
}
.App .registration {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .registration .container {
  padding: 50px;
  border: 1px solid #eee;
  border-radius: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .registration .container .title {
  text-align: center;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 20px;
}
.App .registration .container .description {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
.App .registration .container .description p {
  margin: 0;
}
.App .registration .container .registration-form {
  display: flex;
  justify-content: center;
}
.App .registration .container .registration-form > div {
  width: 100%;
}
.App .registration .container .registration-form form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.App .registration .container .registration-form form .error-message {
  color: red;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.App .registration .container .registration-form form input {
  transform: translateX(20px);
  width: 250px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  color: #666;
  margin-left: 15px;
}
.App .registration .container .registration-form form input::placeholder {
  color: #AAA;
}
.App .registration .container .registration-form form input:focus {
  outline: none;
}
.App .registration .container .registration-form form .btn {
  transform: translateX(-20px);
  max-height: 50px;
}
.App .registration .container .registration-form form .btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.App .legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .legal .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .legal .container > .title {
  font-size: 42px;
  text-align: center;
}
.App .legal .container > .text-content {
  font-size: 18px;
}
.App .honoraires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .honoraires .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .honoraires .container > .title {
  font-size: 42px;
  text-align: center;
}
.App .honoraires .container > .text-content {
  font-size: 18px;
}
.App .rgpd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
.App .rgpd .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .rgpd .container > .title {
  font-size: 42px;
  text-align: center;
}
.App .rgpd .container > .text-content {
  font-size: 18px;
}

.CookieConsent {
  display: flex;
  flex-direction: row;
}
.CookieConsent > div:first-of-type {
  display: flex;
  flex-direction: row;
  flex: 1 0 80%;
  justify-content: space-between;
}
.CookieConsent > div:first-of-type a {
  color: #FFF;
  margin: 15px 0;
}

@media screen and (max-width: 425px) {
  .App {
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
  }
  .App header {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #FFF;
    width: calc(100% - 30px);
    box-shadow: 5px 5px 15px #00000010;
  }
  .App header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .App header .container .logo {
    width: 100%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .App header .container .logo img {
    height: 40px;
    width: auto;
    margin-top: 10px;
    justify-content: flex-start;
  }
  .App header .container .logo #burger {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    margin-top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
  }
  .App header .container .logo #burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #171E49;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .App header .container .logo #burger span:nth-child(1) {
    top: 0px;
  }
  .App header .container .logo #burger span:nth-child(2), .App header .container .logo #burger span:nth-child(3) {
    top: 9px;
  }
  .App header .container .logo #burger span:nth-child(4) {
    top: 18px;
  }
  .App header .container .logo #burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .App header .container .logo #burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .App header .container .logo #burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .App header .container .logo #burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .App header .container .nav {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    transform: translateY(-30px);
    opacity: 0;
    transition: 250ms ease-in-out;
    pointer-events: none;
    height: 0px;
  }
  .App header .container .nav.open {
    padding-top: 30px;
    transform: translateY(0px);
    opacity: 1;
    height: 200px;
    pointer-events: auto;
  }
  .App header .container .nav a {
    vertical-align: bottom;
    font-size: 18px;
    border-bottom: 0px solid transparent;
    color: #171E49;
    text-decoration: none;
  }
  .App header .container .nav a:hover {
    border-bottom: 0px solid #F7F7F7;
  }
  .App header .container .my-account {
    display: none !important;
  }
  .App .layout {
    padding-left: 15px;
    padding-right: 15px;
  }
  .App .layout .hero {
    padding: 120px 0 15vh;
  }
  .App .layout .hero .container {
    flex-direction: column;
  }
  .App .layout .hero .container > div {
    width: 100%;
  }
  .App .layout .hero .container > div.txt-content .title {
    font-size: 24px;
    margin-top: 0;
  }
  .App .layout .hero .container > div.txt-content .description {
    font-size: 18px;
  }
  .App .layout .hero .container > div.image img {
    width: 66%;
  }
  .App .layout .hero .container > div.mouse {
    display: none;
  }
  .App .layout .expertises .container .title {
    font-size: 24px;
    text-align: left;
  }
  .App .layout .expertises .container .description {
    font-size: 18px;
    text-align: left;
    width: 100%;
  }
  .App .layout .expertises .container .cards {
    flex-direction: column;
    margin-top: 30px;
  }
  .App .layout .expertises .container .cards .card {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    height: inherit;
    border: 0px;
    align-items: flex-start;
  }
  .App .layout .expertises .container .cards .card .title {
    width: 100%;
    text-align: left;
  }
  .App .layout .expertises .container .cards .card .description {
    font-size: 16px;
  }
  .App .layout .services {
    padding: 0;
  }
  .App .layout .services .container .service {
    flex-direction: column;
  }
  .App .layout .services .container .service:nth-of-type(2n) div:first-of-type {
    order: 1;
  }
  .App .layout .services .container .service:nth-of-type(2n) div:last-of-type {
    order: 1;
  }
  .App .layout .services .container .service > div {
    width: 100%;
  }
  .App .layout .services .container .service > div.txt-content {
    padding-left: 0;
  }
  .App .layout .services .container .service > div.txt-content .title {
    font-size: 24px;
    margin-top: 0;
  }
  .App .layout .services .container .service > div.txt-content .description {
    font-size: 18px;
  }
  .App .layout .services .container .service > div.image img {
    width: 66%;
  }
  .App .layout .services .container .service > div.mouse {
    display: none;
  }
  .App .layout .prestations {
    padding: 50px 0;
  }
  .App .layout .prestations .container {
    flex-direction: column;
  }
  .App .layout .prestations .container > .image {
    width: 100%;
    max-height: 300px;
  }
  .App .layout .prestations .container > .txt-content {
    width: 100%;
    margin-top: 30px;
  }
  .App .layout .prestations .container > .txt-content .title {
    font-size: 24px;
    margin-top: 0;
  }
  .App .layout .prestations .container > .txt-content .description {
    font-size: 18px;
  }
  .App .layout .prestations .container > .txt-content .prestas {
    padding-top: 30px;
  }
  .App .layout .prestations .container > .txt-content .prestas .presta .txt h3 {
    font-size: 18px;
  }
  .App .layout .newsletter .container {
    width: calc(100% - 30px);
    padding: 30px 15px;
  }
  .App .layout .newsletter .container .title {
    font-size: 24px;
    margin-top: 0;
  }
  .App .layout .newsletter .container .description {
    font-size: 18px;
  }
  .App .layout .newsletter .container .newsletter-form form {
    flex-direction: column;
  }
  .App .layout .newsletter .container .newsletter-form form div {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .App .layout .newsletter .container .newsletter-form form div input {
    width: calc(100% - 50px);
    transform: translateX(0);
    border-radius: 30px;
  }
  .App .layout .newsletter .container .newsletter-form form button.btn {
    width: 100%;
    transform: translateX(0);
  }
  .App .layout .blog .container .cards {
    display: flex;
    flex-direction: column;
  }
  .App .layout .registration .container {
    width: calc(100% - 30px);
    padding: 30px 15px;
  }
  .App .layout .registration .container .title {
    font-size: 24px;
    margin-top: 0;
  }
  .App .layout .registration .container .description {
    font-size: 18px;
    text-align: left;
  }
  .App .layout .registration .container .registration-form {
    width: 100%;
  }
  .App .layout .registration .container .registration-form form {
    flex-direction: column;
  }
  .App .layout .registration .container .registration-form form div {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .App .layout .registration .container .registration-form form div input {
    width: calc(100% - 50px);
    transform: translateX(0);
    border-radius: 30px;
    margin-left: 0;
    font-size: 16px;
  }
  .App .layout .registration .container .registration-form form button.btn {
    width: 100%;
    transform: translateX(0);
  }
  .App .layout .proprietaires {
    margin-top: 30px;
  }
  .App .layout .proprietaires .container .title {
    width: 100%;
    text-align: left;
  }
  .App .layout .proprietaires .container .description {
    width: 100%;
    text-align: left;
  }
  .App .layout .proprietaires .container .sections .section {
    flex-direction: column;
  }
  .App .layout .proprietaires .container .sections .section:nth-of-type(2n) div:first-of-type {
    order: 1;
  }
  .App .layout .proprietaires .container .sections .section:nth-of-type(2n) div:last-of-type {
    order: 1;
  }
  .App .layout .proprietaires .container .sections .section .txt-content {
    padding-left: 0;
    width: 100%;
  }
  .App .layout .proprietaires .container .sections .section .txt-content .title {
    font-size: 24px;
    margin-top: 0;
    margin-top: 30px;
  }
  .App .layout .proprietaires .container .sections .section .txt-content .description {
    font-size: 18px;
  }
  .App .layout .proprietaires .container .sections .section .image {
    width: 100%;
  }
  .App .layout .proprietaires .container .sections .section .image img {
    width: 66%;
  }
  .App .layout .proprietaires .container .garanties .title {
    width: calc(100vw - 30px);
  }
  .App .layout .proprietaires .container .garanties .description {
    width: calc(100vw - 30px);
  }
  .App .layout .proprietaires .container .garanties .logos {
    overflow-x: hidden;
    width: 100%;
  }
  .App .layout .proprietaires .container .garanties .logos .logo {
    max-height: 90px;
    width: 150px;
  }
  .App .locataires {
    margin-top: 30px;
  }
  .App .locataires .container .title {
    width: 100%;
    text-align: left;
  }
  .App .locataires .container .description {
    width: 100%;
    text-align: left;
  }
  .App .locataires .container .sections .section {
    flex-direction: column;
  }
  .App .locataires .container .sections .section:nth-of-type(2n) div:first-of-type {
    order: 1;
  }
  .App .locataires .container .sections .section:nth-of-type(2n) div:last-of-type {
    order: 1;
  }
  .App .locataires .container .sections .section .txt-content {
    padding-left: 0;
    width: 100%;
  }
  .App .locataires .container .sections .section .txt-content .title {
    font-size: 24px;
    margin-top: 0;
    margin-top: 30px;
  }
  .App .locataires .container .sections .section .txt-content .description {
    font-size: 18px;
  }
  .App .locataires .container .sections .section .image {
    width: 100%;
  }
  .App .locataires .container .sections .section .image img {
    width: 66%;
  }
  .App .locataires .container .choose-us {
    padding: 50px 0;
  }
  .App .locataires .container .choose-us .container {
    flex-direction: column;
  }
  .App .locataires .container .choose-us .container > .image {
    width: 100%;
    max-height: 300px;
  }
  .App .locataires .container .choose-us .container > .text-content {
    width: 100%;
    margin-top: 30px;
  }
  .App .locataires .container .choose-us .container > .text-content .title {
    font-size: 24px;
    margin-top: 0;
  }
  .App .locataires .container .choose-us .container > .text-content .description {
    font-size: 18px;
  }
  .App .locataires .container .choose-us .container > .text-content .sections {
    padding-top: 30px;
  }
  .App .locataires .container .choose-us .container > .text-content .sections .section .txt-content .title {
    font-size: 18px;
  }
  .App .about-us {
    margin-top: 30px;
  }
  .App .about-us .container .title {
    width: 100%;
    text-align: left;
    font-size: 28px;
  }
  .App .about-us .container .infos {
    width: 100vw;
  }
  .App .about-us .container .infos .contact-links {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App footer.footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .App footer.footer .container {
    display: flex;
    flex-direction: column;
  }
  .App footer.footer .container .logo {
    margin-bottom: 30px;
  }
  .App footer.footer .container .column {
    margin-bottom: 30px;
  }
  .App footer.footer .container .contact-form {
    width: 100%;
    margin-bottom: 90px;
  }
  .App footer.footer .container .contact-form form .inputs {
    flex-direction: column;
  }
  .App footer.footer .container .contact-form form .inputs div {
    width: 100%;
  }
  .App footer.footer .container .contact-form form .inputs div:first-of-type {
    margin-bottom: 10px;
  }
  .App footer.footer .container .contact-form form input, .App footer.footer .container .contact-form form textarea {
    font-size: 16px;
  }
  .App .CookieConsent {
    display: flex;
    flex-direction: column;
  }
  .App .CookieConsent > div:first-of-type {
    display: flex;
    flex-direction: column;
    flex: 1 0 30px !important;
    justify-content: space-between;
  }
  .App .CookieConsent > div:first-of-type a {
    color: #FFF;
    margin: 15px 0;
  }
}