#wesh {
    .morray {
        display: block;
    } 
}

/* VARIABLES */

$dark-color: #171E49;

/* ANIMATION */

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1000ms;
  }

/* LOADING */

.loading {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        height: 120px;
        width: 120px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 28px;
        color: #BBBBBB;
    }
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: $dark-color;
      height: 3px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover:before, &:focus:before, &:active:before {
      right: 0;
    }
  }

/* GENERAL */

.container {
    max-width: 1400px;
    width: 100%;
}

button.btn {
    cursor: pointer;
    background-color: #4270ED;
    color: #FFFFFF;
    border: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    width: fit-content;
    box-shadow: 2px 2px 5px #00000022;

    &:hover {
        transition: box-shadow 300ms ease;
        box-shadow: 3px 3px 10px #00000022;
    }
}

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

/* END GENERAL */

.App {
    background-color: #ffffff;
    color: $dark-color;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
    min-height: 100vh;

    header {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100vw;
        background-color: #FFFFFF;

        .container {
            display: flex;
            justify-content: space-between;

            .logo {
                width: 20%;
                img {
                    height: 50px;
                    width: auto;
                    justify-content: flex-start;
                }

                #burger {
                    display: none;
                }
            }
    
            .nav {
                max-width: 600px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
    
                a {
                    vertical-align: bottom;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    cursor: pointer;
                    color: $dark-color;
                }
    
            }

            div.my-account {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

        }
    }

    .layout {
        min-height: 100vh;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 90px 0;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .mouse {
                margin: 50px 0;
                width: 50px;
                height: 90px;
                border: 3px solid $dark-color;
                border-radius: 60px;
                position: relative;
                &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $dark-color;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 2s infinite;
                    -webkit-animation: wheel 2s infinite;
                }
            }

            & > div {
                width: 50%;

                &.txt-content {
                    color: $dark-color;

                    .title {
                        font-size: 48px;
                        margin-top: 90px;
                    }
    
                    .description {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 30px;
        
                        p {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-weight: 300;
                        }
        
                        strong {
                            font-weight: 600;
                        }
        
                        em {
                            font-weight: 400;
                        }
                    }

                }

                &.image {
                    display: flex;
                    justify-content: flex-end;

                    img {
                        justify-self: flex-end;
                        max-height: 600px;
                        width: auto;
                    }

                }

            } 

        }
    }

    .expertises {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        min-height: 80vh;

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            p {
                margin: 0;
            }

            & > .title {
                text-align: center;
                font-size: 42px;
            }

            & > .description {
                text-align: center;
                font-size: 22px;
                font-weight: 400;
                width: 65%;
            }
    
            .cards {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 90px;
    
                .card {
                    border: 1px solid #EEE;
                    border-radius: 30px;
                    padding: 30px 15px;
                    height: 300px;
                    // margin-right: 60px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    .icon {
                        border-radius: 50%;
                        // padding: 15px;
                        height: 60px;
                        width: 60px;
                        margin-bottom: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 2px 2px 5px #00000022;

                        img {
                            height: 30px;
                            width: auto;
                        }
                    }

                    .title {
                        text-align: center;
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    .description {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }

        }

    }

    .services {
        padding: 90px 0;
        display: flex;
        justify-content: center;
        min-height: 80vh;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .service {
                margin-top: 90px;
                display: flex;
                flex-direction: row;
                justify-content: center;

                &:nth-of-type(2n) {

                    div:first-of-type {
                        order: 2;
                    }

                    div:last-of-type {
                        order: 1;
                    }
                }

                .image {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    img {
                        max-height: 500px;
                        width: 100%;
                    }
                }

                .txt-content {
                    width: 50%;
                    margin-top: 5%;
                    padding: 0 30px;
                    .title {
                        font-size: 32px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }
                    .description {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .prestations {
        padding: 90px 0;
        display: flex;
        justify-content: center;
        min-height: 80vh;
        .container {
            display: flex;
            flex-direction: row;

            .image {
                width: 50%;
                display: flex;
                justify-content: center;
                img {
                    max-height: 600px;
                }
            }

            .txt-content {
                width: 50%;
                margin-top: 90px;

                & > .title {
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                & > .description {
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 20px;

                    p {
                        margin: 0;
                    }
                }

                .prestas {
                    display: flex;
                    flex-direction: column;
    
                    .presta {
                        margin-bottom: 30px;
                        display: flex;
                        flex-direction: row;
    
                        .icon {
                            border-radius: 50%;
                            // padding: 15px;
                            height: 60px;
                            width: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 2px 2px 5px #00000022;
    
                            img {
                                height: 30px;
                                width: auto;
                            }
                        }

                        .txt {
                            width: 70%;
                            padding-left: 30px;
                            display: flex;
                            align-items: center;
                            
                            .title {
                                font-size: 22px;
                                font-weight: 500;
                                margin: 0;
                            }

                            .description {
                                font-size: 20px;
                            }
                        }
                    }
                }

            }
        }
    }

    .newsletter {
        margin-top: 90px;
        margin-bottom: 90px;
        padding: 30px 0;
        display: flex;
        justify-content: center;

        .container {
            padding: 50px 0;
            border: 1px solid #eee;
            border-radius: 30px;
            width: 80%;


            .title {
                text-align: center;
                font-size: 42px;
                margin-top: 0;
                margin-bottom: 20px;
            }
            .description {
                text-align: center;
                font-size: 22px;
                margin-bottom: 50px;

                p {
                    margin: 0;
                }
            }

            .newsletter-form {
                display: flex;
                justify-content: center;

                & > div {
                    width: 100%;
                }

                form {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .error-message {
                        color: red;
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }

                    input {
                        transform: translateX(20px);
                        width: 500px;
                        padding: 15px 25px;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        border: 1px solid #e7e7e7;
                        font-size: 16px;
                        color: #666;
                        
                        &::placeholder {
                            color: #AAA;
                        }
        
                        &:focus {
                            outline: none;
                        }
                    }

                    .btn {
                        transform: translateX(-20px);
                        max-height: 50px;
                    }

                }
            }
        }

    }

    footer.footer {
        background: linear-gradient(.1turn, #4270ED33, #FFFFFF);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0 0 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                max-width: 200px;

                img {
                    width: 150px;
                }
            }

            .column {
                .title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                ul {
                    list-style: none;
                    padding-left: 0;
                    li {
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                }
            }

            .contact-form {
                width: 35%;

                form {

                    .error-message {
                        color: red;
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }

                    .inputs {
                        width: 100%;
                        margin-bottom: 15px;
                    }
        
                    input, textarea {
                        background-color: transparent;
                        border: 1px solid #666;
                        border-radius: 30px;
                        padding: 5px 10px 5px 15px;
                        color: $dark-color;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        
                        &::placeholder {
                            font-size: 14px;
                        }
        
                        &:focus {
                            outline: none;
                        }
                    }

                    .sujet {
                        width: 100%;
                        margin-bottom: 15px;

                        & > div {
                            width: 100%;
                        }
                    }
        
                    & > div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
        
                        &.textarea {
                            flex-direction: column;
                            margin-bottom: 15px;

                            textarea {
                                border-radius: 20px;
                                padding-top: 15px;
                                height: 80px;
                            }
                        }
        
                        & > div {
                            width: calc(50% - 5px);
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .btn {
                        width: 100%;
                    }
                }

            }

            &:last-of-type {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .reseaux-sociaux {
                    width: 250px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    a {
                        img {
                            height: 20px;
                            width: auto;
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }

    // PAGE PROPRIETAIRES

    .proprietaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px 0;
        
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > .title {
                font-size: 42px;
                text-align: center;
            }

            & > .description {
                font-size: 18px;
                text-align: center;
                width: 66%;
            }

            .sections {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 90px 0;
                
                .section {
                    margin-top: 90px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &:nth-of-type(2n) {

                        div:first-of-type {
                            order: 2;
                        }

                        div:last-of-type {
                            order: 1;
                        }
                    }

                    .image {
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        img {
                            max-height: 500px;
                            width: 100%;
                        }
                    }

                    .txt-content {
                        width: 50%;
                        margin-top: 3%;
                        padding: 0 30px;
                        .title {
                            font-size: 32px;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }
                        .description {
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .garanties {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 90px 0;
                
                .title {
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
                .description {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }
                .logos {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 66%;
                }
            }
        }
    }

    // PAGE LOCATAIRES

    .locataires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px 0;
        
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > .title {
                font-size: 42px;
                text-align: center;
            }

            & > .description {
                font-size: 18px;
                text-align: center;
                width: 66%;
            }

            & > .sections {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .section {
                    margin-top: 90px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &:nth-of-type(2n) {

                        div:first-of-type {
                            order: 2;
                        }

                        div:last-of-type {
                            order: 1;
                        }
                    }

                    .image {
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        img {
                            max-height: 500px;
                            width: 100%;
                        }
                    }

                    .txt-content {
                        width: 50%;
                        margin-top: 3%;
                        padding: 0 30px;
                        .title {
                            font-size: 32px;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }
                        .description {
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .choose-us {
                padding: 90px 0;
                display: flex;
                justify-content: center;
                min-height: 80vh;
                .container {
                    display: flex;
                    flex-direction: row;

                    .image {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        img {
                            max-height: 600px;
                        }
                    }

                    .text-content {
                        width: 50%;
                        margin-top: 90px;

                        & > .title {
                            font-size: 32px;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }

                        & > .description {
                            font-size: 20px;
                            font-weight: 400;
                            margin-bottom: 20px;

                            p {
                                margin: 0;
                            }
                        }

                        .sections {
                            display: flex;
                            flex-direction: column;
            
                            .section {
                                margin-bottom: 30px;
                                display: flex;
                                flex-direction: row;
                                width: 100%;
            
                                .icon {
                                    border-radius: 50%;
                                    // padding: 15px;
                                    height: 60px;
                                    width: 60px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    box-shadow: 2px 2px 5px #00000022;
            
                                    img {
                                        height: 30px;
                                        width: auto;
                                    }
                                }

                                .txt-content {
                                    width: 70%;
                                    padding-left: 30px;
                                    display: flex;
                                    align-items: center;
                                    
                                    .title {
                                        font-size: 22px;
                                        font-weight: 500;
                                        margin: 0;
                                    }

                                    .description {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }

                    }
                }
            }                
        }
    }

    // PAGE QUI SOMMES NOUS

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px 0;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > .title {
                font-size: 42px;
                text-align: center;
            }

            & > .text-content {

                .paragraphe {
                    font-size: 18px;
                }

            }

            .image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .infos {
                margin-top: 90px;
                .title {
                    text-align: center;
                }
                .contact-links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 500px;
                }
            }

        }
    }

    // PAGE BLOG

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px 0;
        
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > .title {
                font-size: 42px;
                text-align: center;
                margin-bottom: 0;
            }

            & > .description {
                font-size: 18px;
                text-align: center;
                width: 66%;
                margin-bottom: 90px;
            }

            .cards {
                width: 100%;
                display: grid;
                grid-template-columns: 32% 32% 32%;
                grid-gap: 2%;

                .card {
                    border: 1px solid #ccc;
                    // height: 250px;
                    margin-bottom: 15px;
                    border-radius: 30px;
                    overflow: hidden;

                    .card-thumbnail {
                        img {
                            width: 100%;
                        }
                    }

                    .card-txt {
                        padding: 15px 15px 30px;

                        .link {
                            color: $dark-color;
                        }
                    }
                }
            }
        }
    }
    
        // PAGE POST

        .post {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 90px 0;
            
            .container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
    
                & > .title {
                    font-size: 42px;
                    margin-bottom: 50px;
                }

                .content {
                    padding-right: 90px;
                    #titre {
                        margin-top: 50px;
                    }

                    p {
                        font-weight: 300;
                        em {
                            font-weight: 500;
                        }
                        strong {
                            font-weight: 600;
                        }
                        img {
                            width: 66%;
                        }
                    }
                }

                .post-date {
                    text-align: right;
                }
            }
        }

    .registration {
        margin-top: 90px;
        margin-bottom: 90px;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .container {
            padding: 50px;
            border: 1px solid #eee;
            border-radius: 30px;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .title {
                text-align: center;
                font-size: 42px;
                margin-top: 0;
                margin-bottom: 20px;
            }
            .description {
                text-align: center;
                font-size: 22px;
                margin-bottom: 50px;

                p {
                    margin: 0;
                }
            }

            .registration-form {
                display: flex;
                justify-content: center;

                & > div {
                    width: 100%;
                }

                form {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .error-message {
                        color: red;
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }

                    input {
                        transform: translateX(20px);
                        width: 250px;
                        padding: 15px 25px;
                        border-radius: 30px;
                        border: 1px solid #e7e7e7;
                        font-size: 16px;
                        color: #666;
                        margin-left: 15px;
                        
                        &::placeholder {
                            color: #AAA;
                        }
        
                        &:focus {
                            outline: none;
                        }
                    }

                    .btn {
                        transform: translateX(-20px);
                        max-height: 50px;

                        &:disabled {
                            opacity: .7;
                            cursor: not-allowed;
                        }
                    }

                }
            }
        }

    }

}

.CookieConsent {
    display: flex;
    flex-direction: row;

    & > div:first-of-type {
        display: flex;
        flex-direction: row;
        flex: 1 0 80%;
        justify-content: space-between;

        a {
            color: #FFF;
            margin: 15px 0;
        }
    }
}


@media screen and (max-width:425px) {

    .App {
        overflow-x: hidden;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0;

        header {
            display: flex;
            justify-content: center;
            padding: 15px;
            background-color: #FFF;
            width: calc(100% - 30px);
    
            .container {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
    
                .logo {
                    width: 100%;
                    padding-bottom: 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        height: 50px;
                        width: auto;
                        justify-content: flex-start;
                    }

                    #burger {
                        display: block;
                        width: 30px;
                        height: 25px;
                        position: relative;
                        margin-top: 15px;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: .5s ease-in-out;
                        -moz-transition: .5s ease-in-out;
                        -o-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        cursor: pointer;
                        background-color: transparent;
                        border: 0px;

                        span {
                            display: block;
                            position: absolute;
                            height: 3px;
                            width: 100%;
                            background: $dark-color;
                            border-radius: 2px;
                            opacity: 1;
                            left: 0;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .25s ease-in-out;
                            -moz-transition: .25s ease-in-out;
                            -o-transition: .25s ease-in-out;
                            transition: .25s ease-in-out;

                            &:nth-child(1) {
                                top: 0px;
                            }
                            
                            &:nth-child(2), &:nth-child(3) {
                                top: 9px;
                            }
                            
                            &:nth-child(4) {
                                top: 18px;
                            }
                        }

                        &.open {
                            
                            span:nth-child(1) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }
                            
                            span:nth-child(2) {
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            
                            span:nth-child(3) {
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }
                            
                            span:nth-child(4) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }

                        }
                    }
                }
        
                .nav {
                    width: 100%;
                    max-width: 800px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    transform: translateY(-30px);
                    opacity: 0;
                    transition: 250ms ease-in-out;
                    pointer-events: none;
                    height: 0px;

                    &.open {
                        padding-top: 30px;
                        transform: translateY(0px);
                        opacity: 1;
                        height: 200px;
                        pointer-events: auto;
                    }
        
                    a {
                        vertical-align: bottom;
                        font-size: 18px;
                        border-bottom: 0px solid transparent;
                        color: $dark-color;
                        text-decoration: none;
        
                        &:hover {
                            border-bottom: 0px solid #F7F7F7;
                        }
                    }
        
                }

                .my-account {
                    display: none!important;
                }
    
            }
        }

        .layout {
            padding-left: 15px;
            padding-right: 15px;

            .hero {
                padding: 20vh 0 10vh;
        
                .container {
                    flex-direction: column;

                    & > div {
                        width: 100%;

                        &.txt-content {
        
                            .title {
                                font-size: 24px;
                                margin-top: 0;
                            }
                
                            .description {
                                font-size: 18px;
                            }
        
                        }

                        &.image {
                            img {
                                width: 66%;
                            }
                        }

                        &.mouse {
                            display: none;
                        }

                    }
        
                }
            }

            .expertises {
                .container {
                    .title {
                        font-size: 24px;
                        text-align: left;
                    }
                
                    .description {
                        font-size: 18px;
                        text-align: left;
                        width: 100%;
                    }

                    .cards {
                        flex-direction: column;

                        .card {
                            width: 90%;
                            margin-bottom: 30px;
                            height: 245px;

                            .description {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .services {
                .container {
                    .service {
                        flex-direction: column;

                        &:nth-of-type(2n) {
        
                            div:first-of-type {
                                order: 1;
                            }
        
                            div:last-of-type {
                                order: 1;
                            }
                        }

                        & > div {
                            width: 100%;
    
                            &.txt-content {
                                padding-left: 0;
            
                                .title {
                                    font-size: 24px;
                                    margin-top: 0;
                                }
                    
                                .description {
                                    font-size: 18px;
                                }
            
                            }
    
                            &.image {
                                img {
                                    width: 66%;
                                }
                            }
    
                            &.mouse {
                                display: none;
                            }
    
                        }
            
                    }
                }
            }

            .prestations {
                .container {
                    flex-direction: column;
                    & > .image {
                        width: 100%;
                        max-height: 300px;
                    }
                    & > .txt-content {
                        width: 100%;
                        margin-top: 30px;
            
                        .title {
                            font-size: 24px;
                            margin-top: 0;
                        }
            
                        .description {
                            font-size: 18px;
                        }

                        .prestas {
                            padding-top: 30px;
                            .presta {
                                .txt {
                                    h3 {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .newsletter {
                .container {
                    width: calc(100% - 30px);
                    padding: 30px 15px;
            
                    .title {
                        font-size: 24px;
                        margin-top: 0;
                    }
        
                    .description {
                        font-size: 18px;
                    }

                    .newsletter-form {
                        form {
                            flex-direction: column;

                            div {
                                padding: 0;
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 15px;

                                input {
                                    width: calc(100% - 60px);
                                    transform: translateX(0);
                                    border-radius: 30px;
                                }
                            }
                            button.btn {
                                width: 100%;
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }

        }

        footer.footer {
            padding-left: 15px;
            padding-right: 15px;
            .container {
                display: flex;
                flex-direction: column;

                .logo {
                    margin-bottom: 30px;
                }

                .column {
                    margin-bottom: 30px;
                }

                .contact-form {
                    width: 100%;
                    margin-bottom: 90px;
                }

            }

        }

        .CookieConsent {
            display: flex;
            flex-direction: column;
        
            & > div:first-of-type {
                display: flex;
                flex-direction: column;
                flex: 1 0 30px!important;
                justify-content: space-between;
        
                a {
                    color: #FFF;
                    margin: 15px 0;
                }
            }
        }
    }
}

